 * {
     padding: 0;
     margin: 0;
     font-family: 'Open Sans', sans-serif;
 }
 
 
 body {
   
   margin: 0px;
   background-attachment: fixed;  
   background-position: center center; 
   background-image: url(original_header-home.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center center;
    height: 100vh; 
 }

.nav {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

 .menu  {
    display: flex;
     justify-content: flex-end;
     padding-top: 20px;
     flex-direction: row;
     align-items: center;
     list-style: none;
    
} 

#checkbox-menu,
.toggle {
    display: none;
}

.menu li {
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    

}

.menu li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    align-self: center;
    
}

.telegramm{
    height: 40px;
    
}
.whatsapp {
    height: 40px;
}

.viber {
    height: 40px;
}

.logo-image {
    height: 100px;
}

.adress-logo1 {
    height: 40px;
}




.btn{
  border-style: groove;
text-decoration: none;
color: black;
  background-color: rgb(0, 255, 255);  
padding: 15px;
border-radius: 30px;
transition: background-color 0.3s linear
}


 .header-down {
        font-weight: 500;
        text-align: center;
        position: absolute;
         margin: 100px 100px; 
    }

.name {
    font-size: 40px;
    margin: 20px;
    }
    
    .name1 {
        font-size: 50px;
        font-weight: 700;
    }
.button {
    padding: 80px;
}
.button1 {
    text-decoration: none;
      /* background-color: rgb(79, 255, 255);   */
     border-style: groove; 
    padding: 50px 90px;
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 500;
    transition: background-color 0.3s linear
   
    
    
    
    

}

.button1:hover {
    background-color:  rgb(176, 255, 255);
    box-shadow: inset 
    
    
}




@media screen and (max-width:938px) {

    .logo-image{
    height: 60px;
    }
    .toggle {
      display: block;
      clear: both;  
      text-align: center;
      font-size: 18px;
      width: 100%;
      color: black;
      background-color: rgb(46, 213, 255);
      transition: all .1s linear;
      line-height: 50px;
    }

    .toggle:hover{
        background-color: rgb(19, 125, 151);


    }

    #checkbox-menu:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 450px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;


    }

    .menu li {
        display: flex;
    align-self: center; 
        width: 95%;
        opacity: 0;
        visibility: hidden;
}
.menu li a {
     text-align: center;
    align-items: center;
    align-content: center; 
     
}
.name {
    font-size: 30px;
    margin: 20px; 
    }
    
    .name1 {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 50px;
       
    } 
    .button {
         padding: 40px; 
        
    }
    .button1 {
        text-decoration: none;
        
         border-style: groove; 
        padding: 30px 10px;
        border-radius: 50px;
        color: rgb(0, 0, 0);
        font-size: 22px;
        font-weight: 500;
        transition: background-color 0.3s linear
       
        
}

}

@media screen and (max-width:527px) {
    
    .header-down{
        margin: 0;
        padding-top: 45px;
        
         
    }
    .name1 {
        padding: 5px;
        
    }
    .button {
            padding: 0;
             padding-top: 50px  ; 

    }
    .button1 { 
            padding: 28px;
            border-radius: 30px;
            font-size: 24px;
            font-weight: 600;
                  
}









